@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-img {
  z-index: -1;
}

.bg-filter {
  background: rgba(46, 46, 46, 0.705)000;
}

.skeleton-image,
.skeleton-text,
.skeleton-snippet {
  background: #c0c0c0;
}

.skeleton-text,
.skeleton-snippet {
  border-radius: 10px;
  height: 1rem;
}

.skeleton-snippet {
  height: .7rem;
  width: 15%;
}

/* gradient wipe over the entire skeleton container */